<!DOCTYPE html>
<html dir="rtl" lang="ar">

<!-- Mirrored from 7oroof.com/demos/steakin/homepage-arabic.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 07 Nov 2024 07:49:20 GMT -->
<head>
    <!-- Document Meta
    ============================================= -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--IE Compatibility Meta-->
    <meta name="author" content="zytheme" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Elegant Restaurant & Cafe Html5 Template by zytheme">
    <link href="~/assets/images/favicon/favicon.png" rel="icon">

    <!-- Fonts
    ============================================= -->
    <link href="https://fonts.googleapis.com/css?family=Changa:200,300,400,500,600,700&amp;subset=arabic" rel="stylesheet">

    <!-- Stylesheets
    ============================================= -->
    <link href="~/assets/css/external.css" rel="stylesheet">
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/css/style2.css" rel="stylesheet">
    <link type="text/css" href="~/assets/css/style-rtl1.css" rel="stylesheet" />
    <link type="text/css" href="~/assets/css/style-arabic.css" rel="stylesheet" />

    <!-- RS5.0 Main Stylesheet -->
    <link rel="stylesheet" type="text/css" href="~/assets/revolution/css/settings.css">
    <link rel="stylesheet" type="text/css" href="~/assets/revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="~/assets/revolution/css/navigation.css">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
    <!-- Document Title
    ============================================= -->
    <title>حلويات سلورة الشهباء</title>


    <style>

    </style>
</head>


<body>
    <div class="preloader">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="wrapper clearfix">
        <header id="navbar-spy" class="header header-1 header-transparent header-fixed">
            <nav id="primary-menu" class="navbar navbar-fixed-top">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="logo" href="index.html">
                            <img class="logo-light" src="~/assets/images/logo/logo-light.png" alt="Steakin Logo" draggable="false">
                            <img class="logo-dark" src="~/assets/images/logo/logo-dark.png" alt="Steakin Logo" draggable="false">
                        </a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse pull-right" id="navbar-collapse-1">
                        <ul class="nav navbar-nav nav-pos-right navbar-left">
                            <!-- Home Menu -->
                            <li class="has-dropdown mega-dropdown active">
                                <a href="@Url.Action("Index", "Customer")" class="dropdown-toggle menu-item">الرئيسية</a>
                                <ul class="dropdown-menu">
                                </ul>
                                <!-- .mega-dropdown-menu end -->
                            </li>
                            <li class="has-dropdown">
                                <a href="@Url.Action("AboutUs", "Customer")" class="link-hover">من نحن</a>
                            </li>
                            <li class="has-dropdown">
                                <a href="@Url.Action("Menu", "Customer")" class="link-hover">المنيو</a>
                            </li>

                            <li class="has-dropdown">
                                <a href="@Url.Action("Branches", "Customer")" class="link-hover">فروعنا</a>
                            </li>
                            <li>
                                <a href="@Url.Action("FAQ", "Customer")" class="link-hover">الأسئلة الشائعة</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Shop", "Customer")" class="link-hover">تسوق</a>
                            </li>

                            <li>
                                <a href="@Url.Action("OrderHistory", "Customer")" class="link-hover">سجل الطلبات</a>
                            </li>

                            <li>
                                <a href="@Url.Action("Settings", "Customer")" class="link-hover">الاعدادات</a>
                            </li>
                        </ul>


                        <div class="module module-reservation pull-left">
                            <a href="@Url.Action("Index", "Home")" class="btn-popup btn-popup-theme" data-target="#reservationModule">تسجيل الخروج</a>
                        </div>

                        <!-- Module Reservation (Same Modal for Sign In) -->
                        <!-- Module Cart -->
                        <div class="module module-cart pull-left">
                            <div class="module-icon cart-icon" data-url="@Url.Action("Cart", "Customer")">
                                <i class="fa fa-shopping-cart"></i>
                                <span class="title">الطلبات</span>
                                <label class="module-label">0</label>
                            </div>
                        </div>
                        <!-- .module-cart end -->
                        <!-- Module Search -->
                        <div class="module module-search pull-left">
                            <div class="module-icon search-icon">
                                <i class="fa fa-search"></i>
                                <span class="title">بحث</span>
                            </div>
                            <div class="module-content module-fullscreen module--search-box">
                                <div class="pos-vertical-center">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
                                                <form class="form-search">
                                                    <input type="text" class="form-control" placeholder="اكتب كلمات البحث...">
                                                    <button class="btn" type="button"><i class="fa fa-search"></i></button>
                                                </form>
                                                <!-- .form-search end -->
                                            </div>
                                            <!-- .col-md-8 end -->
                                        </div>
                                        <!-- .row end -->
                                    </div>
                                    <!-- .container end -->
                                </div>
                                <a class="module-cancel" href="#"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                        <!-- .module-search end -->
                        <!-- Module Side NAV -->
                        <div class="module module-side-nav pull-left">
                            <div class="module-icon side-nav-icon">
                                <i class="fa fa-bars"></i>
                                <span class="title">Side Navigation</span>
                            </div>
                            <div class="module-content module-hamburger">
                                <div class="hamburger-panel module-widgets" style="max-height: 80vh; overflow-y: auto;">
                                    <!-- Facebook Feed -->
                                    <div class="widget widget-facebook">
                                        <div class="widget--title">
                                            <h5>فيسبوك</h5>
                                        </div>
                                        <div class="widget--content">
                                            <div class="fb-page"
                                                 data-href="https://www.facebook.com/ALshahbaaSweets"
                                                 data-tabs="timeline"
                                                 data-width="500"
                                                 data-height="300"
                                                 data-small-header="false"
                                                 data-adapt-container-width="true"
                                                 data-hide-cover="false"
                                                 data-show-facepile="true">
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <!-- .widget-facebook end -->
                                    <!-- Instagram Feed -->
                                    <div class="widget widget-instagram">
                                        <div class="widget--title">
                                            <h5>إنستجرام</h5>
                                        </div>
                                        <div class="widget--content" style="max-height: 80vh; overflow-y: auto; margin: auto;">
                                            <blockquote class="instagram-media"
                                                        data-instgrm-permalink="https://www.instagram.com/p/DC69YtXtavy/"
                                                        data-instgrm-version="14"
                                                        style="max-width: 100%; padding: 0; border: none; overflow: hidden; margin: auto;">
                                            </blockquote>
                                            <script async src="https://www.instagram.com/embed.js"></script>
                                        </div>
                                    </div>
                                    <!-- .widget-instagram end -->
                                    <!-- Tag Clouds -->
                                    <div class="widget widget-tags">
                                        <div class="widget--title">
                                            <h5>الأوسمة</h5>
                                        </div>
                                        <div class="widget--content">
                                            <a href="#">حلاوة الجبن</a>
                                            <a href="#">حلاوة الجبن بالقشطة</a>
                                            <a href="#">العروض الخاصة</a>
                                            <a href="#">منتجاتنا</a>
                                        </div>
                                    </div>
                                    <!-- .widget-tags end -->

                                    <a class="module-cancel" href="#" onclick="event.stopPropagation(); closeSideNav();">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- /.module-side-nav -->
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
        </header>

		<!-- Page Title #1
		============================================= -->
		<section id="page-title" class="page-title bg-overlay bg-parallax bg-overlay-gradient">
			<div class="bg-section">
				<img src="~/assets/images/page-title/16.jpg" alt="Background" />
			</div>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="title title-1 text-center">
							<div class="title--content">
								<div class="title--subtitle">حلويات سلورة الشهباء</div>
								<div class="title--heading">
									<h1>المنيو</h1>
								</div>
							</div>
							<div class="clearfix"></div>

							<div class="divider--shape-1down"></div>
						</div>
						<!-- .title end -->
					</div>
					<!-- .col-md-12 end -->
				</div>
				<!-- .row end -->
			</div>
			<!-- .container end -->
		</section>
		<!-- #page-title end -->
		<!-- Shop Section -->
		<section id="shop" class="shop shop-4 bg-white">
			<div class="container">
				<div class="row">
					<!-- Projects Filter -->
					<div class="col-xs-12 col-sm-12 col-md-12 shop-filter">
						<ul class="list-inline" id="categories-list">
							<!-- Categories will be added here dynamically -->
						</ul>
					</div>
				</div>
				<div id="shop-all" class="row">
					<!-- Products will be added here dynamically -->
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 clearfix text--center"></div>
				</div>
			</div>
		</section>



	<!-- footer#1
============================================= -->
<footer id="footer" class="footer footer-1 text-center">
  <div class="divider--shape-dark"></div>
  <!-- Widget Section
============================================= -->
  <div class="footer--widget text--center">
      <div class="container">
          <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-4">
                  <div class="footer--widget-content">
                      <h3>تابعونا على وسائل التواصل</h3>
                      <div class="footer--social-icons">
                        <a href="https://www.instagram.com/alshahbaasweets?igsh=ZXY5bTlrdnFqaHNz" target="_blank">
                          <i class="fa fa-instagram"></i>
                      </a>
                      <a href="https://www.facebook.com/ALshahbaaSweets?mibextid=ZbWKwL" target="_blank">
                          <i class="fa fa-facebook"></i>
                      </a>
                      
                      </div>
                      <!-- .social-icons end -->
                  </div>
              </div>
              <!-- .col-md-4 end -->
              <div class="col-xs-12 col-sm-6 col-md-4">
                  <div class="footer--widget-content">
                                <img class="mb-20" src="~/assets/images/logo/logo-light.png" alt="logo">
                      <p>في سلورة، نضع شغفنا في كل طبق نقدمه. استمتعوا بأفضل الحلويات والمأكولات التي تعكس أصالة الطابع الشرقي بلمسة عصرية. اجعلوا لحظاتكم الخاصة أكثر تميزًا معنا.</p>
                  </div>
              </div>
              <!-- .col-md-3 end -->

              <div class="col-xs-12 col-sm-6 col-md-4">
                  <div class="footer--widget-content">
                      <h3>ساعات عملنا</h3>
                      <div class="widget--newsletter" dir="rtl">
                        <form class="footer--social-newsletter">
                            <input type="text" name="working-hours" class="form-control" placeholder="السبت - الأربعاء: 8 صباحًا - 12 منتصف الليل" disabled>
                        </form>
                    </div>
                    <br>
                    <div class="widget--newsletter" dir="rtl">
                      <form class="footer--social-newsletter">
                        <input type="text" name="working-hours" class="form-control" placeholder="الخميس - الجمعة: 8 صباحًا - 1:00 صباحًا" disabled>
                      </form>
                  </div>
                      <!-- .widget end -->
                  </div>
              </div>
              <!-- .col-md-3 end -->
          </div>
      </div>
      <!-- .container end -->
  </div>
  <!-- .footer-widget end -->
  <!-- Copyrights
============================================= -->
  <div class="footer--copyright text-center">
      <div class="divider--shape-dark2"></div>
      <div class="container">
          <div class="row">
              <div class="col-xs-12 col-sm-5 col-md-12">
                  <div class="contact-info">
                  
                      <span> <a href="tel:+962798002800" dir="ltr"> +962 7 9199 1212 </a></span> -
                      <span><a href="mailto:order@aghatisweets.com">order@aghatisweets.com</a></span>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-5 col-md-12">
                <span>&copy; جميع الحقوق محفوظة لسلورة الشهباء 2024</span>
            </div>
            
          </div>
      </div>
      <!-- .container end -->
  </div>
  <!-- .footer-copyright end -->
</footer>
</div>
<!-- #wrapper end -->

<!-- Footer Scripts
============================================= -->
<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="~/assets/js/jquery-2.2.4.min.js"></script>
<script src="~/assets/js/plugins.js"></script>
    <script src="~/assets/js/functions.js"></script>
<!-- RS5.0 Core JS Files -->
    <script src="~/assets/revolution/js/jquery.themepunch.tools.min838f.js?rev=5.0"></script>
    <script src="~/assets/revolution/js/jquery.themepunch.revolution.min838f.js?rev=5.0"></script>
    <script src="~/assets/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script src="~/assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="~/assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="~/assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="~/assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="~/assets/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="~/assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<!-- RS Configration JS Files -->
    <script src="~/assets/js/rsconfig.js"></script>
    <script async src="//www.instagram.com/embed.js"></script>


    <!-- Facebook SDK Script -->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v15.0" nonce="XnIuYmj5"></script>

    <script>
        // Prevent immediate disappearance of the side navigation
        document.querySelector('.module-side-nav').addEventListener('click', function (e) {
            e.stopPropagation();
        });

        // Function to close the side nav
        function closeSideNav() {
            document.querySelector('.module-side-nav').style.display = 'none';
        }
    </script>

	<script>
			  // Base URL for the API
			  const baseUrl = 'http://localhost:5097';

			  // Container where products will be displayed
			  const shopAllContainer = document.getElementById('shop-all');  // Updated to match the correct id

			  // Function to load only visible products
			  function loadVisibleProducts() {
				console.log("Fetching visible products from:", `${baseUrl}/api/Shop/GetVisibleProducts`);
				fetch(`${baseUrl}/api/Shop/GetVisibleProducts`)
				  .then((response) => {
					if (!response.ok) {
					  throw new Error(`Failed to fetch products: ${response.statusText}`);
					}
					return response.json();
				  })
				  .then((responseData) => {
					console.log("API Response Data:", responseData);  // Debug: Log the entire response

					// Directly use the array of products
					const products = responseData || [];
					if (!Array.isArray(products) || products.length === 0) {
					  throw new Error("No products available.");
					}

					shopAllContainer.innerHTML = "";  // Clear any existing products

					// Iterate over each product to display it
					products.forEach((product) => {
					  const imageUrl = product.image ? `http://localhost:5097${product.image}` : "~/assets/images/shop/grid/default.jpg";
					  console.log(`Processing product: ${product.name}, Image URL: ${imageUrl}`);

					  // HTML template for each product
					  const pricingDropdown = `
						<div class="dropdown-container">
						  <select class="form-control pricing-dropdown" data-product-id="${product.productId}">
							<option value="">اختر الكمية</option>
						  </select>
						  <div class="text-center" style="margin-top: 15px;">
		   <a class="btn btn--primary btn--block add-to-cart-btn" href="#" style="display: block; width: 100%;" data-product-id="${product.productId}">
			  اضافة الى السلة
		   </a>
		</div>
						</div>`;

						const productHTML = `
		   <div class="col-xs-12 col-sm-6 col-md-3 productFilter filter-${product.categoryId}">
			  <div class="product-item">
				 <div class="product--img">
					<img src="${imageUrl}" alt="${product.name}" />
				 </div>
				 <div class="product--content">
					<div class="product--title"><h3>${product.name}</h3></div>
					<div class="product--price">
					   <select class="form-control pricing-dropdown" data-product-id="${product.productId}">
						  <option value="">اختر الكمية</option>
					   </select>
					</div>
					<div class="text-center" style="margin-top: 15px;">
					   <a class="btn btn--primary btn--block add-to-cart-btn" href="#" style="display: block; width: 100%;" data-product-id="${product.productId}">
						  اضافة الى السلة
					   </a>
					</div>
				 </div>
			  </div>
		   </div>`;


					  shopAllContainer.insertAdjacentHTML("beforeend", productHTML);  // Add the product to the container
					});

					initializeDropdowns();  // Initialize dropdowns for quantity selection
					initializeAddToCart();   // Initialize the "add to cart" buttons
				  })
				  .catch((error) => {
					console.error("Error fetching products:", error);
					shopAllContainer.innerHTML = `<p>Failed to load products. Please try again later.</p>`;  // Show an error message
				  });
			  }

			  // Function to initialize dropdowns
        function initializeDropdowns() {
            console.log("Initializing dropdowns...");
            const dropdowns = document.querySelectorAll(".pricing-dropdown");

            dropdowns.forEach((dropdown) => {
                dropdown.addEventListener("click", function () {
                    const productId = this.getAttribute("data-product-id");
                    console.log(`Fetching pricing options for product ID: ${productId}`);

                    if (this.options.length > 1) {
                        console.log("Pricing options already loaded for this dropdown.");
                        return;
                    }

                    // Fetch pricing options and shop IDs for the product
                    Promise.all([
                        fetch(`${baseUrl}/api/Shop/ProductWithPricing/${productId}`).then((response) => response.json()),
                        fetch(`${baseUrl}/api/Products/GetAllCartVisibilityStatus`).then((response) => response.json()),
                    ])
                        .then(([productDetails, cartVisibility]) => {
                            console.log("Product details fetched successfully:", productDetails);
                            console.log("Cart visibility data fetched successfully:", cartVisibility);

                            const product = cartVisibility.find((item) => item.productId === parseInt(productId));
                            if (!product) {
                                console.error("Product not found in cart visibility data.");
                                return;
                            }

                            const shopIds = product.shopIds || [];
                            const pricingOptions = productDetails.pricingOptions || [];

                            this.innerHTML = `<option value="">اختر الكمية</option>`;

                            pricingOptions.forEach((option, index) => {
                                // Assign `shopId` based on the `shopIds` array (assume one shopId per pricing option)
                                const shopId = shopIds[index] || shopIds[0]; // Fallback to the first shopId if not mapped 1-to-1
                                const optionElement = document.createElement("option");
                                optionElement.value = option.id;
                                optionElement.textContent = `${option.amount} - ${option.price} JDs`;
                                optionElement.setAttribute("data-shop-id", shopId); // Assign the `shopId`
                                this.appendChild(optionElement);
                            });
                        })
                        .catch((error) => {
                            console.error("Error fetching pricing options or cart visibility:", error);
                        });
                });
            });
        }

        function initializeAddToCart() {
            console.log("Initializing Add to Cart buttons...");
            const addToCartButtons = document.querySelectorAll(".add-to-cart-btn");

            addToCartButtons.forEach((button) => {
                button.addEventListener("click", (event) => {
                    event.preventDefault();

                    const productItem = event.target.closest(".product-item");
                    const dropdown = productItem.querySelector(".pricing-dropdown");
                    const selectedOption = dropdown.value;

                    if (!selectedOption) {
                        alert("يرجى اختيار الكمية");
                        return;
                    }

                    const cart = JSON.parse(localStorage.getItem("cart")) || [];
                    const productId = event.target.getAttribute("data-product-id");
                    const selectedShopId = dropdown.selectedOptions[0]?.getAttribute("data-shop-id"); // Retrieve shopId

                    if (!selectedShopId) {
                        alert("Shop ID is missing for the selected product.");
                        return;
                    }

                    // Check if the product with the same shopId and pricing option already exists
                    const existingItem = cart.find(
                        (item) =>
                            item.productId === productId &&
                            item.pricingOptionId === selectedOption &&
                            item.shopId === selectedShopId
                    );

                    if (existingItem) {
                        existingItem.quantity += 1; // Increment quantity if the product exists
                    } else {
                        cart.push({
                            productId,
                            shopId: selectedShopId, // Add the selected shopId
                            name: productItem.querySelector(".product--title h3").textContent.trim(),
                            amount: dropdown.selectedOptions[0]?.textContent.split(" - ")[0]?.trim(),
                            price: parseFloat(
                                dropdown.selectedOptions[0]?.textContent
                                    .split(" - ")[1]
                                    ?.replace("JDs", "")
                                    .trim()
                            ),
                            quantity: 1,
                            pricingOptionId: selectedOption, // Store the selected option
                        });
                    }

                    // Save the updated cart to localStorage
                    localStorage.setItem("cart", JSON.stringify(cart));
                    updateCartCount();
                    alert("تم إضافة المنتج إلى سلة التسوق");
                });
            });
        }


			  // Function to update the cart count
			  function updateCartCount() {
				const cart = JSON.parse(localStorage.getItem("cart")) || [];
				const cartCount = cart.reduce((count, item) => count + item.quantity, 0);
				document.querySelector(".module-label").textContent = cartCount;
			  }

			   // Redirect to cart page when the cart icon is clicked
        document.querySelector(".module-icon.cart-icon").addEventListener("click", () => {
          window.location.href = "@Url.Action("Cart", "Customer")";
        });

			  // Load visible products initially
			  loadVisibleProducts();
			  updateCartCount();

	</script>
	<script>
		document.addEventListener('DOMContentLoaded', function () {
			const logoutButton = document.querySelector('.btn-popup');
			if (logoutButton) {
				logoutButton.addEventListener('click', function (event) {
					// Clear local storage
					localStorage.clear();

					// Optionally, log the action for debugging
					console.log('Local storage cleared.');

					// Allow default navigation to the logout  
				});
			}
		});
	</script>
</body>
</html>

